# Public
PUBLIC_API_KEY=e1f10a1e78da46f5b10a1e78da96f525 # weather underground is using currently
PWS_URL=https://www.wunderground.com/dashboard/pws/

# Private
DATABASE_URL="postgres://${DB_USER}:${DB_PASSWORD}@localhost:5432/gsb_postgres"
