# PostgreSQL
CONTAINER_NAME=
VOLUME_NAME=
DB_USER=
DB_HOST=
DB_PASSWORD=
DB_NAME=
PORT=

# remove later
CONTAINER_NAME=goldstarboard_postgres
VOLUME_NAME=goldstarboard_postgres_volume
DB_USER=goldstarboard_admin
DB_HOST=localhost
DB_PASSWORD=nogoldforbrandon
DB_NAME=goldstarboard_db
PORT=5432
