DJANGO_SECRET_KEY=very_secret_key
DJANGO_DEBUG=TRUE # for prod, FALSE for dev
DJANGO_ALLOWED_HOST=*
DJANGO_PORT=3000
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=your_secure_password_here
DJANGO_SUPERUSER_EMAIL=admin@example.com

DB_USER=db_guy
DB_HOST=somewhere
DB_PASSWORD=pw
DB_NAME=a_sql_db
DB_PORT=5432
