---
import Leaderboard from '@components/Leaderboard.svelte';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Leaderboard">
    <div class="py-15">
        <Leaderboard  client:load/>
    </div>
</Layout>
